GITHUB_ACCESS_TOKEN=
GITHUB_USER_NAME=
GITHUB_BACKEND_TEMPLATE_PROJECT_NAME=

# https://oauth.yandex.ru/authorize?response_type=token&client_id=1a6990aa636648e9b2ef855fa7bec2fb
YANDEX_CLOUD_OAUTH_USER_TOKEN=
YANDEX_CLOUD_CLOUD_ID=

MAIN_SITE_DOMAIN_NAME=

PROJECTS_LOCAL_PATH=

NOTIFICATIONS_TELEGRAM_TO=
NOTIFICATIONS_TELEGRAM_TOKEN=
UPIKOTH_PACKAGES_READ=

SENTRY_ORGANIZATION_ID=
SENTRY_TEAM_ID=
SENTRY_AUTH_TOKEN=

OAUTH_MAIL_API_URL=https://oauth.mail.ru
OAUTH_YANDEX_API_URL=https://login.yandex.ru
